@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


body, address{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
}

ul{
    padding-inline-start: 0;
}

.bg-color{
    background-color: #000000;
    color:#faf3f3;
}

.flex{
    display: flex;
}

.page-max-width{
    max-width: 1140px;
    margin: auto;
}


/**/


.header_flex{
    justify-content: space-between;
}


.header_flex-item{
    padding: 2em 0;
    gap: 1em;
    margin: auto 0 auto 0;
}

.header-img{
    width: 4em;
    height: 4em;
}

.header-title{
    margin: auto;
    font-size: large;
    border-top: solid;
    padding-top: .3em;
}

.donation-button{
    background-color: red;
    margin: auto;
    padding: .7em 1em;
    border: none;
    border-radius: 2em;
    font-weight: 700;
    letter-spacing: 4px;
    color: #faf3f3;
}

.donation-button:hover{
    background: rgba(216, 29, 29, 0.7);
}

.navigation{
    list-style-type: none;
    gap: 1em;
    margin: auto;
}

.navigation-item:hover{
    border-bottom: solid ;
    cursor: pointer;
}

.logo{
    background-image: url('logos/icons8-instagram.svg');
    height: 3em;
    width: 3em;
    margin-top: -1em;
    background-repeat: no-repeat;
}



/**/


.main-photo{
    background-image: linear-gradient(
        rgba(25, 25, 25, 0.60), 
        rgba(25, 25, 25, 0.60)),
        url('photos/bagger.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
/*
.main-photo-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-photo-title{
    font-weight: 700;
    font-size: 7em;
    margin-bottom: 0;
    color: #ffffff;
    text-shadow: 12px 12px #000000;
    border-bottom: solid 7px red;
    border-left: solid 7px red;
}

.main-photo-title::first-letter{
    color: #ff0000;
    font-size: 900;
}

.main-photo-button{
    border-radius: 10em;
    font-size: 1em;
    font-weight: 900;
    padding: .2em 1em;
    background-color:#353434;
    margin-top: 1em;
}

.main-photo-button:hover{
    background-color: #ff0000;
}*/

/**/
/*section1*/
/**/
.section-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;
}

.section-1-article{
    overflow: hidden;
    
}

.section-1-article > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-1-article > img:hover{
    transform: scale(1.1);
}


/**/

footer{
    background-color: #000000;
    height: 4em;
    color: #faf3f3;
    text-align: center; 
}

footer > p{
    margin: 0em;
    padding-top: 1em;
}

/*desktops*/
@media (max-width: 1199px){
    .header_flex{
        margin: 0 1em;
    }
}


/*tablets*/
@media (max-width: 800px){
    /*.header-left{
        display: none;
    }*/

    .header_flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .header-left{
        gap: 1;
        margin: auto;
    }

    .header-title{
        margin: 1em 0;
    }

    .header-middle{
        margin: auto;
    }

    .header-right{
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
    }


}


/*mobiles*/
@media (max-width: 599px){
    
    .header_flex{
        display: flex;
        flex-direction: column;
    }
}